.landingPage-container{
    .main-content{
        width: 100vw;
        height: 100vh;
        // background-color: #ff0;
        background-image: url('../../../../assets/fly-bg.jpg');
        background-size: 100% 100%;
        .main-info{

        }
    }
}