@use '../../../scss/color';

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-bottom: 10px;
  a {
    color: color.$white;
  }

  .top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding: 0 5%;
    background-color: color.$sky-blue;
    color: black;
  }

  .bottom {
    background-color: color.$black-shade;
    padding: 0 5%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .routes {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .profile {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .profile-item {
        margin-left: 20px;
      }
    }
  }
}
