@use '../../../scss/color';

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-bottom: 10px;
  a {
    color: color.$white;
  }

  .top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding: 0 5%;
    background-color: color.$sky-blue;
    color: black;
  }

  .bottom {
    background-color: color.$black-shade;
    padding: 0 5%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .routes {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .profile {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .profile-item {
        margin-left: 20px;
      }
    }
  }

  @media(max-width: 568px){
    .bottom{
      padding: 0px 5% 0px 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .routes, .profile{
        display: none;
      }
      
    }
  }
}

@media (min-width: 1025px) {
  .sidenav, .nav-menu-btn {
    display: none;
  }
}


.sidenav {
  position: fixed;
  top: 5%;
  height: 90%;
  width: 85%;
  background-color: color.$black-shade;
  z-index: 10002;
  transition: all 0.5s ease-out;

  .close-menu-btn {
    text-align: right;
    margin: 20px;
  }

  .sidenav-content {
    margin: 40px 20px;
    text-align: right;
    height: 200px;

    div {
      margin: 10px 0;
      color: #ffffff;
    }
  }
}

.sidenav-active{
  right: 0;
}

.sidenav-inactive{
  right: -100%;
}