.bag {
  width: 80%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10%;

  .title {
    font-family: "poppinsmedium";
    margin-bottom: 20px;
    font-size: 20px;
  }

  .checkout {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
  }
}

@media (max-width: 568px) {
  .bag {
    width: 95%;
    grid-template-columns: 1fr;

    .title {
      font-family: "poppinsmedium";
      margin: 5px 0;
      font-size: 20px;
    }
  }
}
