.bag {
  width:85%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;

  .title{
    font-family: "poppinsmedium";
    margin: 20px 0;
    font-size: 20px;
  }
  p {
    margin: 0;
  }

  .products {
    width: 80%;
    margin: auto;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    img {
      object-fit: cover;
      width: 150px;
      max-height: 150px;
    }

    .actions {
      .release-name {
        font-family: "poppinsmedium";
        font-size: 20px;
        margin: 0;
      }
      .release-style {
        font-size: 14px;
        margin: 0;
      }

      .release-size{
        margin-top: 20px;
      }
      .button-group{
        margin-top: 20px;
      }
    }
    .release-price {
      float: right;
    }
  }

  .summary {
    
    .totals{
      display: grid;
      grid-template-columns: 1fr 1fr;

      .values{
        text-align: right;
      }
  
    }
    .checkout{
      width: 100%;
      padding: 10px;
      font-size: 16px;
      margin-top: 20px;
    }
  }
}
