@use "./scss/color.scss";
@use "./scss/fonts";

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "poppinsregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: color.$black-shade;
  color: color.$white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color.$white;
  }

  a {
    text-decoration: none;
  }
}

.container{
  padding-top: 100px;
}

.button{
  padding: 10px 15px;
  margin: 15px;
}
.primary-button {
  color: #000;
  background-color: color.$primary-yellow;
  border: none;
  outline: none;
}

.black-button {
  color: #fff;
  border: solid #fff 1px;
  background-color: #000;
}

.white-button {
  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
}

.rounded {
  border-radius: 30px;
}

.primary-header{
  color: color.$primary-yellow;
}