@use "./scss/color.scss";
@use "./scss/fonts";
@use './scss/buttons';


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  font-family: "poppinsregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: color.$black-shade;
  color: color.$white;

  .site-wrapper {
    width: 100vw;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color.$white;
  }

  a {
    text-decoration: none;
  }
}

.container {
  padding-top: 100px;
}
.primary-header {
  color: color.$primary-yellow;
}
