@use './color';
.button {
  padding: 10px 15px;
  margin: 15px;
}
.primary-button {
  color: #000;
  background-color: color.$primary-yellow;
  border: none;
  outline: none;
}

.black-button {
  color: #fff;
  border: solid #fff 1px;
  background-color: #000;
}

.white-button {
  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
}

.rounded {
  border-radius: 30px;
}

.underlined-button{
  outline: none;
  border: none;
  background: transparent;
  font-size: 14px;
  margin-right: 20px;
  padding: 0px;
  color: white;
  border-bottom: solid 1px white;
}
