@font-face {
  font-family: "poppinsregular";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("opentype");  
}

  
  @font-face {
    font-family: poppinsmedium;
    src: url('../assets/fonts/Poppins-Medium.ttf') format("opentype");
  }
  
  @font-face {
    font-family: poppinslight;
    src: url('../assets/fonts/Poppins-Light.ttf') format("opentype");
  }
  
  @font-face {
    font-family: poppinsthin;
    src: url('../assets/fonts/Poppins-Thin.ttf') format("opentype");
  }
