.footer{
    height: 400px;
    width: 100vw;
    .more-about{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .tile {
            
            img{
                width: 300px;
                max-height: 300px;
            }
        }
    }
}