.release-details{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media(max-width: 568px){
    .release-details{
        grid-template-columns: 1fr;
    }
}