.info {
  display: grid;
  grid-template-columns: 40% 60%;

  .bag {
    display: grid;
    grid-template-columns: 1fr;
    border-left: solid #fff 1px;
  }
}

@media (max-width: 568px) {
  .info {
    grid-template-columns: 1fr;

    .bag {
        border-left: none;
      }
  }
}
