.info {
  width: 85%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 4fr 6fr;

  .bag {
    display: grid;
    grid-template-columns: 1fr;
  }

}

@media (max-width: 568px) {
  .info {
    grid-template-columns: 1fr;

    .bag {
        border-left: none;
      }
  }
}
